div(style="width:100%;max-width:800px;margin-left:auto;margin-right:auto;")
	.layout-row.layout-align-center-center(style="margin-bottom:0px;")
		img(src="/assets/img/sports-car.png" style="width:190px;height:190px;")
	.layout-column.layout-align-center-center()
		div(ng-messages="errors")
			div(ng-message="Name", style="color:red;") 
				p Invalid Name
			div(ng-message="Email", style="color:red;") 
				p Invalid Email
			div(ng-message="Password", style="color:red;") 
				p Invalid Password
			div(ng-message="Address", style="color:red;") 
				p Invalid Address
			div(ng-message="Phone", style="color:red;") 
				p Invalid Phone
			div(ng-message="internal_error", style="color:red;") 
				p Internal Error
		md-input-container(style="width:80%;")
			label() NAME
			input(type="text", ng-model="name", required md-maxlength="255")
		md-input-container(style="width:80%;")
			label() EMAIL
			input(type="email", ng-model="email", required md-maxlength="255")
		md-input-container(style="width:80%;margin-top:5px;")
			label() PASSWORD
			input(type="password", ng-model="password", required md-maxlength="255")
		md-input-container(style="width:80%;margin-top:5px;")
			label() HOME ADDRESS
			input(type="text", ng-model="address", required md-maxlength="255")
		md-input-container(style="width:80%;margin-top:5px;")
			label() PHONE NUMBER
			input(type="tel", ng-model="phone", required md-maxlength="10")
		md-button.layout-align-center-center.md-primary.md-raised(style="width:80%;", ng-click="create(name, email, password, address, phone)")
			span() CREATE