.cr-footer-cont(ng-if="showFooter")
	.layout-row.layout-align-center-center()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'index'}", ui-sref="index")
			span.glyphicon.glyphicon-search()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'schedule'}", ui-sref="schedule")
			span.glyphicon.glyphicon-calendar()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'parking'}", ui-sref="parking")
			span() P
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'settings'}", ui-sref="settings")
			span.glyphicon.glyphicon-cog()