.cr-footer-cont .cr-footer-box {
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    height: 90px;
    margin: 0px 0px 0px 0px;
}

.cr-footer-cont {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
