.cr-footer-cont(ng-if="showFooter")
	.layout-row.layout-align-center-center()
		md-button.layout-column.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'index'}", ui-sref="index")
			span.glyphicon.glyphicon-search()
			span.cr-footer-text() Search
		md-button.layout-column.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'schedule'}", ui-sref="schedule")
			span.glyphicon.glyphicon-calendar()
			span.cr-footer-text() Schedule
		md-button.layout-column.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'parking'}", ui-sref="parking")
			span() P
			span.cr-footer-text.cr-footer-text-parking() Parking
		md-button.layout-column.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'settings'}", ui-sref="settings")
			span.glyphicon.glyphicon-cog()
			span.cr-footer-text() Settings