.cr-footer-cont()
	.layout-row.layout-align-center-center()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'index'}")
			span.glyphicon.glyphicon-search()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'schedual'}")
			span.glyphicon.glyphicon-calendar()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'parking'}")
			span() P
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center.md-raised(ng-class="{'md-primary' : page === 'settings'}")
			span.glyphicon.glyphicon-cog()