.cr-footer-cont()
	.layout-row.layout-align-center-center()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center()
			span.glyphicon.glyphicon-search()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center()
			span.glyphicon.glyphicon-calendar()
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center()
			span() P
		md-button.layout-row.flex.cr-footer-box.layout-align-center-center()
			span.glyphicon.glyphicon-cog()