md-dialog.cr-pass-dlg()
	md-dialog-content()
		br
		div(ng-messages="errors")
			div(ng-message="Password", style="color:red;") 
				p Password Must Be At Least 10 Characters
			div(ng-message="PasswordMatch", style="color:red;") 
				p Password And Confirm Password Must Match
			div(ng-message="internal_error", style="color:red;") 
				p Internal Error
		br
		div(class="layout-row layout-align-center-center flex-100", style="width:100%;")
			md-input-container(style="width:100%;margin-top:5px;")
				label() NEW PASSWORD
				input(type="password", ng-model="pass", required md-maxlength="255")
		div(class="layout-row layout-align-center-center flex-100", style="width:100%;")
			md-input-container(style="width:100%;margin-top:5px;")
				label() CONFIRM PASSWORD
				input(type="password", ng-model="cPass", required md-maxlength="255")
		br
	md-dialog-actions()
		md-button.md-raised(ng-click="close()")
			span CANCEL
		md-button.md-raised(ng-click="set(pass, cPass)")
			span SET