back-button()
div.cr-user-info-map()
	div(id="crUserInfoMap", style="width:100%;height:100%;")
.cr-user-ride-info()
	div(class="layout-column layout-align-center-center")
		div(class="flex-100", style="margin-bottom:0px;")
		div(class="flex-100")