.cr-settings-body()
	.cr-settings-info()
		p.cr-settings-info-name() 
			b {{user.Name}}
		br
		div(style="display:inline-block;text-align:left;")
			p.cr-sett-rat() Rating:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				span.glyphicon.glyphicon-star(ng-repeat="n in range(1,user.Rating)")
				span.glyphicon.glyphicon-star-empty(ng-repeat="i in range(1,5-user.Rating)")
				span() &nbsp;&nbsp;({{user.RatingReal | number : 1}})
			p.cr-sett-rat() Account Balance:&nbsp;&nbsp;&nbsp;&nbsp;{{user.Balance | currency}}
	br
	div(ng-messages="errors")
		div(ng-message="Name", style="color:red;") 
			p Invalid Name
		div(ng-message="Address", style="color:red;") 
			p Invalid Address
		div(ng-message="Phone", style="color:red;") 
			p Invalid Phone
		div(ng-message="DLNumber", style="color:red;") 
			p Invalid Driver's License Number
		div(ng-message="internal_error", style="color:red;") 
			p Internal Error
		br
		br
	div(class="layout-row layout-align-center-center", style="width:100%;")
		md-input-container(style="width:100%;margin-top:5px;")
			label() NAME
			input(type="text", ng-model="user.Name", required)
	div(class="layout-row layout-align-center-center", style="width:100%;")
		md-input-container(style="width:100%;margin-top:5px;")
			label() EMAIL
			input(type="email", ng-model="user.Email", required, ng-disabled="true")
	div(class="layout-row layout-align-center-center", style="width:100%;")
		md-input-container(style="width:100%;margin-top:5px;")
			label() PHONE NUMBER
			input(type="tel", ng-model="user.Phone", required)
	div(class="layout-row layout-align-center-center", style="width:100%;")
		md-input-container(style="width:100%;margin-top:5px;")
			label() ADDRESS
			input(type="text", ng-model="user.Address", required)
	div(class="layout-row layout-align-center-center flex-100", style="width:100%;")
		md-input-container(style="width:100%;margin-top:5px;")
			label() DRIVERS LICENSE NUMBER
			input(type="text", ng-model="user.DLNumber", required)
	br
	div(class="layout-column layout-align-center-center", style="width:100%;")
		.cr-settings-a-button()
			md-button.md-raised(style="width:200px;", ng-click="changePassword($event)")
				span() CHANGE PASSWORD
		.cr-settings-a-button()
			md-button.md-raised(style="width:200px;", ng-click="editCar($event)")
				span() EDIT CAR INFO
		.cr-settings-a-button()
			md-button.md-raised(style="width:200px;", ng-click="payment()")
				span() PAYMENT SETTINGS
	br
	br
	div(class="layout-row layout-align-center-center flex-100")
		.flex-90()
			md-button.layout-align-center-center.md-raised.md-primary(style="width:100%;margin:0px;", ng-click="update(user)")
				span() SAVE CHANGES
	br
	div(class="layout-row layout-align-center-center flex-100")
		.flex-90()
			md-button.layout-align-center-center.md-raised(style="width:100%;margin:0px;", ng-click="eMode()")
				span() TAP {{eTimes}} TIME FOR EMERGENCY MODE
cr-footer(page="'settings'")