.cr-type-select button {
    margin: 0px 0px 0px 0px;
}

.cr-type-select {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.cr-search-body {
    margin-top: 20px;
}

.cr-input-icon {
    font-size: 36px;
}
