div.cr-bkg-color(style="max-width:800px;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;margin-bottom:110px;")
	div.cr-search-dr-toggle(class="layout-row layout-align-center-center cr-type-select" style="")
		md-button.layout-row.flex.layout-align-center-center.md-raised(class="flex-50", ng-class="{'md-primary' : !isDriver}", ng-click="isDriver = false;") PASSENGER
		md-button.layout-row.flex.layout-align-center-center.md-raised(class="flex-50", ng-class="{'md-primary' : isDriver}", ng-click="isDriver = true;") DRIVER
	div(class="cr-search-body layout-column layout-align-center-center")
		div(ng-messages="errors")
			div(ng-message="IsDriver", style="color:red;") 
				p Internal Error
			div(ng-message="From", style="color:red;") 
				p From Address Invalid
			div(ng-message="To", style="color:red;") 
				p To Address Invalid
			div(ng-message="DateTime", style="color:red;") 
				p Date Invalid
			div(ng-message="Car", style="color:red;") 
				p You Are Not Registered As A Driver
			div(ng-message="internal_error", style="color:red;") 
				p Internal Error
		br
		div(class="layout-row layout-align-center-center flex-100", style="width:100%;")
			md-input-container(class="flex-100")
				label() FROM
				input(type="text", ng-model="from", required, ng-disabled="isFromSchool")
		div(class="layout-row layout-align-center-center flex-100", style="width:100%;")
			md-input-container(style="margin-top:5px;", class="flex-100")
				label() TO
				input(type="text", ng-model="to", required, ng-disabled="isToSchool")
		div(class="layout-row layout-align-center-center flex-100", style="width:100%;margin-top:10px;")
			div(class="flex-50 layout-align-center-center")
				div(style="margin-left:auto;margin-right:auto;width:200px;")
					mdp-date-picker(mdp-placeholder="Arrival Date", ng-model="date")
			div(class="flex-50 layout-align-center-center")
				div(style="margin-left:auto;margin-right:auto;width:200px;")
					mdp-time-picker(mdp-placeholder="Arrival Time", ng-model="time")
		div(class="layout-row layout-align-center-center flex-100", style="width:100%;margin-top:10px;")
			md-button.layout-row.flex.layout-align-center-center.md-raised(class="flex-100", ng-click="search(from, to, date, time)")
				span(ng-if="isDriver") SCHEDULE
				span(ng-if="!isDriver") SEARCH
cr-footer(page="'index'")