.cr-type-select button {
    margin: 0px 0px 0px 0px;
}

.cr-type-select {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.cr-search-body {
    margin-top: 20px;
}

.cr-input-icon {
    font-size: 36px;
}

.dtp-actual-maxtime {
    background-color: #8BC34A;
}

.dtp-actual-day {
    background-color: #8BC34A;
}

.dtp-close {
    background-color: transparent;
}

.md-icon-button {
    margin-top: 0px !important;
}
