div.cr-index-cont.cr-bkg-color()
	div.cr-search-dr-toggle(class="layout-row layout-align-center-center cr-type-select" style="")
		md-button.md-raised(class="flex-50", ng-class="{'md-primary' : !isDriver}", ng-click="isDriver = false;") PASSENGER
		md-button.md-raised(class="flex-50", ng-class="{'md-primary' : isDriver}", ng-click="isDriver = true;") DRIVER
	.layout-column.layout-align-center-center.cr-search-body()
		div(ng-messages="errors", style="margin-bottom:10px;")
			div(ng-message="IsDriver", style="color:red;") 
				p Internal Error
			div(ng-message="From", style="color:red;") 
				p From Address Invalid
			div(ng-message="To", style="color:red;") 
				p To Address Invalid
			div(ng-message="DateTime", style="color:red;") 
				p Date Invalid
			div(ng-message="Car", style="color:red;") 
				p You Are Not Registered As A Driver
			div(ng-message="internal_error", style="color:red;") 
				p Internal Error
		md-input-container(style="width:100%;")
			label() FROM
			input(type="text", ng-model="params.From", required, ng-disabled="isFromSchool")
		md-input-container(style="margin-top:5px;width:100%;")
			label() TO
			input(type="text", ng-model="params.To", required, ng-disabled="isToSchool")
		br
		div.cr-index-date-inputs()
			mdp-date-picker.cr-index-dp(mdp-placeholder="Arrival Date", ng-model="params.Date", style="width:100%;margin-bottom:10px;")
			mdp-time-picker(mdp-placeholder="Arrival Time", ng-model="params.Time", style="width:100%;", mdp-format="hh:mm A")
		md-button.md-raised(ng-click="search(params.From, params.To, params.Date, params.Time)", style="width:100%;")
			span(ng-if="isDriver") SCHEDULE
			span(ng-if="!isDriver") SEARCH
cr-footer(page="'index'")