.cr-chat-cont {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cr-chat-box-left {
    //float: left;
}

.cr-chat-box-right {
    //float: right;
    margin-right: auto;
}

.cr-chat-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 60px;
    background-color: #FFFFFF;
    width: 100%;
}

.cr-chat-footer-inputs {
    width: 100%;
    max-width: 850px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.cr-chat-footer-inputs .layout-row {
    height: 100%;
}

.cr-chat-header {
    position: fixed;
    top: 40px;
    max-width: 850px;
    width: 100%;
}

.cr-chat-header md-card {
    background-color: #E91E63;
    color: white;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #E91E63;
    width: 30px;
    height: 30px;
    color: #E91E63;
    padding-top: 3px;
    padding-left: 9px;
}

.cr-chats {
    position: absolute;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    height: 100%;
    padding-bottom: 210px;
}
