back-button()
div.cr-bkg-color()
	.cr-chat-cont()
		.cr-chat-header(style="")
			md-card.md-primary.md-hue-1()
				md-card-content(style="padding:5px 0px 5px 0px;")
					div(class="layout-column layout-align-center-center")
						div(class="flex-100", style="margin-bottom:5px;")
							span() 
								u {{ride.DateTime | date : 'MMMM d' : '-0700'}}
								u &nbsp;
								u {{ride.DateTime | date : '@ hh:mm a' : '-0700'}}
						div(class="flex-100")
							span() {{ride.User.Name}}'s Car, Seats Left: {{ride.Car.Seats}}
		.cr-chats(scroll-glue-bottom="")
			div(ng-repeat="message in messages", class="layout-column", ng-class="{'layout-align-center-start' : message.FromUserID !== user.ID, 'layout-align-center-end' : message.FromUserID === user.ID}", style="width:100%;")
				div(class="flex-50", style="")
					md-card()
						md-card-content()
							div(class="layout-row layout-align-center-center")
								div(class="flex-10", style="padding-right:40px;", ng-if="message.FromUserID !== user.ID")
									.circle(ng-if="message.FromUserID === 0 || message.Type === 'ride_request'") A
									.circle(ng-if="message.FromUserID !== 0 && message.Type !== 'ride_request'") {{message.User.Name | limitTo : 1 : 0 | uppercase}}
								div(ng-class="{'flex-100' : message.FromUserID === user.ID, 'flex-90' : message.FromUserID !== user.ID}")
									p {{message.Message}}
		.cr-chat-footer()
			.cr-chat-footer-inputs()
				.layout-row.layout-align-center-center()
					div.flex-60.layout-align-center-center()
						md-input-container(class="flex-100", style="width:100%;padding-right:20px;margin-top:20px;")
							label() MESSAGE
							input(type="text", ng-model="textMessage")
					div.flex-15.layout-align-center-center()
						md-button.layout-row.flex.layout-align-center-center.md-raised.md-primary(class="flex-100", ng-click="send(textMessage)", style="margin-top:-15px;")
							span SEND