back-button()
div.cr-bkg-color()
	.cr-chat-cont()
		.cr-chat-header(style="")
			md-card.md-primary.md-hue-1()
				md-card-content(style="padding:5px 0px 5px 0px;")
					div(class="layout-column layout-align-center-center")
						div(class="flex-100", style="margin-bottom:5px;")
							span() 
								u {{ride.DateTime | date : 'MMMM d' : '-0700'}}
								u &nbsp;
								u {{ride.DateTime | date : '@ hh:mm a' : '-0700'}}
						div(class="flex-100")
							span() {{ride.User.Name}}'s Car, Seats Left: {{ride.Seats}}
		.cr-chats(scroll-glue-bottom="")
			div(ng-repeat="message in messages", class="layout-column", 
			ng-class="{'layout-align-center-start' : message.FromUserID !== user.ID && message.Type !== 'cash_info', 'layout-align-center-end' : message.FromUserID === user.ID || message.Type === 'cash_info'}", style="width:100%;")
				div(class="flex-50", style="", ng-if="message.Type === ''")
					md-card()
						md-card-content()
							div()
								div(class="layout-row layout-align-center-center")
									div(class="flex-10", style="padding-right:50px;", ng-if="message.FromUserID !== user.ID")
										.circle.flex(ng-if="message.FromUserID === 0 || message.Type === 'ride_request'") A
										.circle.flex(ng-if="message.FromUserID !== 0 && message.Type !== 'ride_request'") {{message.User.Name | limitTo : 1 : 0 | uppercase}}
									div(ng-class="{'flex-100' : message.FromUserID === user.ID, 'flex-90' : message.FromUserID !== user.ID}")
										p {{message.Message}}
				div(class="flex-50", style="", ng-if="message.Type === 'cash_info'")
					md-card()
						md-card-content()
							div()
								div(class="layout-row layout-align-center-center")
									div.flex-100()
										p {{message.Message}}
				div(class="flex-50", style="", ng-if="message.Type === 'ride_request' && !message.Ack")
					md-card()
						md-card-content()
							div()
								div(class="layout-row layout-align-center-center")
									div(class="flex-10", style="padding-right:50px;")
										.circle() A
									div.flex-60()
										p {{message.Message}}
											span(style="cursor: pointer;", ui-sref="user-info({UserID : message.FromUserID, RideID : ride.ID})") &nbsp;
												u More Info
									div.flex-15.layout-row.layout-align-center-center()
										md-button.layout-row.flex.layout-align-center-center.flex-100(style="font-size:26px;", ng-click="accept(ride.ID, message.ID)")
											span.glyphicon.glyphicon-ok(style="color:green;")
									div.flex-15.layout-row.layout-align-center-center()
										md-button.layout-row.flex.layout-align-center-center.flex-100(style="font-size:26px;", ng-click="reject(ride.ID, message.ID)")
											span.glyphicon.glyphicon-remove(style="color:red;")
				div(class="flex-50", style="", ng-if="message.Type === 'rating_req'")
					md-card()
						md-card-content()
							div()
								div(class="layout-row layout-align-center-center")
									div.flex-10(style="padding-right:50px;")
										.circle() A
									div.flex-30()
										p {{message.Message}}
									div.flex-60.layout-row.layout-align-center-center()
										p.cr-sett-rat() Rating:&nbsp;
											span.glyphicon.glyphicon-star(ng-repeat="i in range(1,message.Rating.Rating)", ng-click="rate(message, i)")
											span.glyphicon.glyphicon-star-empty(ng-repeat="i in range(1,5-message.Rating.Rating)", ng-click="rate(message, i+message.Rating.Rating)")
				div(class="flex-50", style="", ng-if="message.Type === 'cash_req' && !message.Ack")
					md-card()
						md-card-content()
							div()
								div(class="layout-row layout-align-center-center")
									div.flex-10(style="padding-right:50px;")
										.circle() A
									div.flex-60()
										p {{message.Message}}
									div.flex-15.layout-row.layout-align-center-center()
										md-button.layout-row.flex.layout-align-center-center.flex-100(style="font-size:26px;", ng-click="acceptCash(message.ID)")
											span.glyphicon.glyphicon-ok(style="color:green;")
									div.flex-15.layout-row.layout-align-center-center()
										md-button.layout-row.flex.layout-align-center-center.flex-100(style="font-size:26px;", ng-click="rejectCash(message.ID)")
											span.glyphicon.glyphicon-remove(style="color:red;")
		.cr-chat-footer()
			.cr-chat-footer-inputs()
				.layout-row.layout-align-center-center()
					div.flex-10.layout-row.layout-align-center-center()
						.layout-row.flex.layout-align-center-center()
							md-button.layout-row.flex.layout-align-center-center.cr-cash-button(class="flex-100", ng-click="reqCash()")
								span.glyphicon.glyphicon-usd
					div.flex-70.layout-row.layout-align-center-center()
						input(type="text", ng-model="textMessage", style="width:100%;height:36px;", 
						ng-disabled="!ride.Approved", ng-keyup="$event.keyCode == 13 && send(textMessage)", focus-me="setChatFocus")
					div.flex-20.layout-align-end-end(style="text-align:center;")
						.layout-row.flex.layout-align-center-center()
							md-button.flex.layout-align-center-center.md-raised.md-primary.cr-chat-send(class="flex-100", 
							ng-click="send(textMessage)", style="margin-top:0px;", ng-disabled="!ride.Approved")
								span SEND