.cr-chat-cont {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cr-chat-box-left {
    //float: left;
}

.cr-chat-box-right {
    //float: right;
    margin-right: auto;
}

.cr-chat-footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    background-color: #FFFFFF;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
}
