md-dialog.cr-date-dlg(class="flex-80")
	md-dialog-content()
		div.layout-row.flex.layout-align-center-center.cr-date-dlg-content()
			md-calendar(ng-model="date")
	md-dialog-actions()
		md-button.md-raised(ng-click="close()")
			span CANCEL
		md-button.md-raised(ng-click="close()")
			span OK