.cr-skip-car-page {
    position: fixed;
    top: 0px;
    right: 0px;
}

.cr-skip-car-page p {
    margin: 0px 0px 0px 0px;
    font-size: 26px;
}

.cr-skip-car-page button {
    margin: 0px 0px 0px 0px;
}
