back-button()
.cr-skip-car-page()
	md-button.layout-row.flex.layout-align-center-center(ng-click="skip()")
		p 
			u
				b Skip
div.cr-bkg-color.cr-add-car-cont()
	.layout-row.layout-align-center-center(style="margin-bottom:0px;")
		img(src="/assets/img/sports-car.png" style="width:190px;height:190px;")
	.layout-column.layout-align-center-center()
		div(ng-messages="errors")
			div(ng-message="DLNumber", style="color:red;") 
				p Invalid Driver's License Number
			div(ng-message="Brand", style="color:red;") 
				p Invalid Brand
			div(ng-message="CarModel", style="color:red;") 
				p Invalid Model
			div(ng-message="Seats", style="color:red;") 
				p Invalid Number of Seats
			div(ng-message="LicensePlateNumber", style="color:red;") 
				p Invalid License Plate Number
			div(ng-message="internal_error", style="color:red;") 
				p Internal Error
		md-input-container(style="width:80%;")
			label() DRIVER'S LICENSE #
			input(type="text", ng-model="dlNumber", required md-maxlength="255")
		md-input-container(style="width:80%;")
			label() CAR BRAND
			input(type="text", ng-model="brand", required md-maxlength="255")
		md-input-container(style="width:80%;margin-top:5px;")
			label() MODEL
			input(type="text", ng-model="model", required md-maxlength="255")
		md-input-container(style="width:80%;margin-top:5px;")
			label() # OF EXTRA SEATS
			input(type="text", ng-model="seats", required md-maxlength="255")
		md-input-container(style="width:80%;margin-top:5px;")
			label() LICENSE PLATE NUMBER
			input(type="text", ng-model="licensePlateNumber", required md-maxlength="255")
		md-button.layout-align-center-center.md-primary.md-raised(style="width:80%;", ng-click="add(dlNumber, brand, model, seats, licensePlateNumber)")
			span() SUBMIT