.cr-skip-car-page {
    position: fixed;
    top: 0px;
    right: 0px;
}

.cr-skip-car-page p {
    margin: 0px 0px 0px 0px;
    font-size: 26px;
}

.cr-skip-car-page button {
    margin: 0px 0px 0px 0px;
}

.cr-add-car-cont {
    position: absolute;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    //top: 130px;
    height: 100%;
    padding-bottom: 210px;
}
