back-button()
div.cr-info-cont.cr-bkg-color()
	div.cr-info-map()
		div(id="crInfoMap", style="width:100%;height:100%;")
	.cr-ride-info()
		div(class="layout-column layout-align-center-center")
			div(class="flex-100", style="margin-bottom:0px;")
				span() 
					span {{ride.DateTime | date : 'MMMM d' : '-0700'}}
					span &nbsp;
					span {{ride.DateTime | date : '@ hh:mm a' : '-0700'}}
			div(class="flex-100")
				span() {{ride.User.Name}}'s Car, Seats Left: {{ride.Seats}}
	.cr-info-p-cards()
		div(ng-if="!ride.Passengers.length", style="width:100%;text-align:center;margin-top:20px;")
			p No Passengers At This Time
		md-card(ng-repeat="p in ride.Passengers", ui-sref="user-info({'RideID' : ride.ID, 'UserID': p.User.ID})")
			md-card-content()
				div(class="layout-row layout-align-center-center")
					.flex-20
						span() {{p.User.Name}}
					.flex-40
						span(ng-if="p.Details.To !== 'SCHOOL'") {{p.Details.To}}
						span(ng-if="p.Details.From !== 'SCHOOL'") {{p.Details.From}}
					.flex-40
						span() {{p.DistFrom | number: 1 }} Miles
.cr-info-footer()
	.cr-info-footer-inner()
		div(class="layout-row layout-align-center-center")
			div(class="flex-100")
				md-button.layout-row.flex.layout-align-center-center.md-raised.md-primary(class="flex-100", ng-click="maps(dirUrl)", style="width:100%;margin:0px 0px 5px 0px;")
					span GO TO MAPS