.cr-info-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.cr-info-footer-inner {
    width: 100%;
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cr-info-map {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 200px;
}

.cr-ride-info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 50px;
    background-color: #E91E63;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
