div.cr-entry-cont.cr-bkg-color()
	.layout-row.layout-align-center-center(style="margin-bottom:0px;")
		img(src="/assets/img/sports-car.png" style="width:190px;height:190px;")
	.layout-column.layout-align-center-center()
		div(ng-messages="errors")
			div(ng-message="incorrect_login", style="color:red;") 
				p Incorrect Login
			div(ng-message="internal_error", style="color:red;") 
				p Internal Error
		md-input-container(style="width:80%;")
			label() EMAIL
			input(type="email", ng-model="email", required md-maxlength="255")
		md-input-container(style="width:80%;margin-top:5px;")
			label() PASSWORD
			input(type="password", ng-model="password", required md-maxlength="255")
		md-button.layout-align-center-center.md-primary.md-raised(style="width:80%;", ng-click="login(email, password)")
			span() LOGIN
		md-button.layout-align-center-center.md-raised(style="width:80%;margin-top:10px;", ng-click="signUp()")
			span() SIGN UP