.cr-schedual-cards {
    margin-top: 30px;
}

.cr-sch-cont {
    position: absolute;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: 100%;
    padding-bottom: 140px;
}

.cr-has-message {
    background-color: #EF9A9A;
}
