div.cr-bkg-color(style="max-width:800px;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;margin-bottom:110px;")
	div(class="layout-row layout-align-center-center cr-type-select" style="width:390px;")
		md-button.layout-row.flex.layout-align-center-center.md-raised(class="flex-50", ng-class="{'md-primary' : upcoming}", ng-click="upcoming = true;") UPCOMING
		md-button.layout-row.flex.layout-align-center-center.md-raised(class="flex-50", ng-class="{'md-primary' : !upcoming}", ng-click="upcoming = false;") PAST
	.cr-schedual-cards()
		md-card(ng-repeat="ride in rides | filter : { isOld : (!upcoming) ? true : false } | orderBy : '-time' : true", ui-sref="info({RideID : ride.ID})")
			md-card-content(style="padding:5px 0px 5px 0px;")
				div(class="layout-row layout-align-center-center")
					div(class="flex-10")
						span(ng-if="ride.UserID === user.ID")
							img(src="assets/img/sports-car.png", style="width:36px;height:36px;")
						span.glyphicon.glyphicon-user(style="font-size:36px;color:black;", ng-if="ride.UserID !== user.ID")
					div(class="flex-60")
						div(class="layout-column layout-align-center-start")
							div(class="flex-100")
								span() 
									u {{ride.DateTime | date : 'MMMM d' : '-0700'}}
									u &nbsp;&nbsp;&nbsp;&nbsp;
									u(ng-if="!ride.isOld") Arriving {{ride.DateTime | date : '@ hh:mm a' : '-0700'}}
									u(ng-if="ride.isOld") Arrived {{ride.DateTime | date : '@ hh:mm a' : '-0700'}}
							div(class="flex-100")
								span(ng-if="ride.UserID !== user.ID") Driver: {{ride.User.Name}}
								span(ng-if="ride.UserID === user.ID") Driver: You
					div(class="flex-20")
						md-button.layout-row.flex.layout-align-center-center.md-raised.md-primary(class="flex-100", ui-sref="chat({ChatID : ride.ChatID})", style="width:100%;")
							span CHAT
cr-footer(page="'schedule'")