.cr-parking-card {
    font-size: 12px;
}

.cr-parking-card md-switch {
    margin: 0px 0px 0px 0px;
}

.cr-parking-card .none {
    color: red;
}

.cr-parking-card .warn {
    color: #ff9933;
}

.cr-parking-card .fine {
    color: green;
}

.cr-parking-card .cr-switch-text {
    margin-left: 20px;
}

.cr-parking-cards {
    margin-top: 30px;
}

.cr-parking-map-cont {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#crParkingMap {
    width: 100%;
    height: 100%;
}

.cr-parking-cont-cards {
    position: absolute;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    height: 100%;
    padding-bottom: 210px;
}

.cr-parking-cont .cr-type-select-parking {
    z-index: 1;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10px;
    width: 100%;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.cr-type-select-parking button {
    margin: 0px;
}
