.cr-back-button {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.cr-back-button button {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
}

.cr-back-button span {
    color: black;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    left: -20px;
}
